{
    'Window': {
        'Group': {
            '@name': 'main', 
            'Text': {
                '@name': '', 
                '@x': '10', 
                '@y': '5', 
                '@text': 'Hello World!'
            }, 
            'Rectangle': {
                '@name': '', 
                '@x': '10', 
                '@y': '5', 
                '@width': '200', 
                '@height': '200', 
                '@color': '0,0,0'
            }, 
            'Circle': {
                '@name': '', 
                '@x': '160', 
                '@y': '40', 
                '@radius': '80', 
                '@color': '155,155,155'
            }, 
            'Ellipse': {
                '@name': '', 
                '@x': '160', 
                '@y': '40', 
                '@width': '160', 
                '@height': '80', 
                '@color': '55,55,55'
            }, 'Line': {
                '@name': '', 
                '@start': '460,40', 
                '@end': '540,120', 
                '@color': '0,0,0'
            }
        }
    }
}